
.nav1{
    padding-left: 3rem;
}

/* .flag{ */
    /* margin-right: 200px; */
   /* padding: 0px 0px 60px 300px; */
   /* height: 10px;
   width: 25px; */
   /* font-size: 16px; */
/* } */
.flag img{
    padding: 0px 0px 60px 450px;
}
.A-select{
    font-size: 16px;
    
}
.navbar2{
    justify-content: space-between;
}
.nav2 span{
    padding-right: 2rem; 
    
}
.nav2{
    margin-right: 100px;
}
.nav2 a{ 
    font-size: 15px;
}
.logo{
    padding-left: 3rem;
}
/* .icons span{
    position: relative;
    display: block;
    right: 10px;
    float: right;
    padding: 20px;
} */
.language mat-label{
    justify-content: space-between;
    padding-right: 3rem;
    padding-right: 2rem;
    float: right;
    text-decoration: none;
    border: none;
}
.navbar3{
    justify-content: space-between;
    padding-left: 5rem;
}
.icons span{
    padding-right: 2rem;

}
.icons{
    margin-right: 100px;
}
