<mat-toolbar color="primary" class="navbar1">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div class="nav1">
      <span><a mat-button routerLink="/return">Returns and Exchanges</a></span>
      <span><a mat-button routerLink="/shipping">Shipping and Delivery</a></span>
      <span><a mat-button routerLink="/terms">Terms and Conditions</a></span>
      <span><a mat-button routerLink="/privacy">Privacy and Policies</a></span>
      <span><a mat-button routerLink="/track">Track Your Order</a></span>
    </div>
    <div class="flag">
      <mat-form-field appearance="fill">
        <mat-select [(value)]="selected" class="A-select">
          <mat-option value="option1">
            <img style="height: 25px; width:25px;" src="assets/flag/5ffe84073745e1610515463.png" alt="image">English
          </mat-option>


          <mat-option value="option2">
            <img style="height: 25px; width:25px;" src="assets/flag/5ffe83f108a3d1610515441.png" alt="country">Bangla
          </mat-option>

          <mat-option value="option3">
            <img style="height: 25px; width:25px;" src="assets/flag/606859990183b1617451417.png" alt="country">Spanish
          </mat-option>

          <mat-option value="option4">
            <img style="height: 40px; width:40px;" src="assets/flag/placeholder/image/64x64.png" alt="country">France
          </mat-option>

          <mat-option value="option5">
            <img style="height: 25px; width:25px;" src="assets/flag/60709ff7b13b91617993719.png" alt="country">German
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <mat-form-field class="language"> 
        <mat-label></mat-label>
        <mat-select>
          <mat-option value="bangla">Bangla</mat-option>
          <mat-option value="spanish">Spanish</mat-option>
          <mat-option value="france">France</mat-option>
          <mat-option value="german">German</mat-option>
        </mat-select>
      </mat-form-field>   -->
  </mat-toolbar-row>

</mat-toolbar>


<mat-toolbar class="navbar2">

  <div class="logo">
    <img src="assets/images/logo.png" alt="logo" height=50px; width=200px;>
  </div>
  <div class="nav2">
    <span> <a mat-button routerLink='/index'> Home </a> </span>
    <span><a mat-button routerLink='/products'> Product </a></span>
    <span> <a mat-button routerLink='/brand'> Brand </a></span>
    <span> <a mat-button routerLink='/contact'> Contact </a></span>
    <!-- <a mat-button [routerLink]='/activities'> Activities </a>
        <a mat-button [routerLink]='/create-activity'> Create Activity </a> -->

  </div>
  <!-- </mat-toolbar-row> -->
</mat-toolbar>

<mat-toolbar color="primary" class="navbar3">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu"><span class="material-icons">
      emoji_people
  </span>Men's Fashion</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu1">Women's Fashion</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu2">Electronics</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu3">Home Appliances</button>
    <button mat-menu-item>Automobile & Motorcycle</button>
    <button mat-menu-item>Sport & Outdoors</button>
    <button mat-menu-item>Baby's Fashion</button>
    <button mat-menu-item>Kids & Toys</button>
    <button mat-menu-item>Heatlth & Beauty</button>
    <button mat-menu-item>Skin & Hair Solution</button>
    <button mat-menu-item>Gift Items</button>
    <button mat-menu-item>COVID 19 Protection</button>
    <button mat-menu-item>Gift Corner</button>
    <button mat-menu-item>wedding & Events</button>
    <button mat-menu-item>Novelty & Special Use</button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="appMenu">Categories<span
      class="material-icons">arrow_drop_down</span></button>
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Clothing</button>
    <button mat-menu-item>Glasses</button>
    <button mat-menu-item>Shoes</button>
    <button mat-menu-item>Watch</button>
  </mat-menu>
  <mat-menu #subMenu1="matMenu">
    <button mat-menu-item>Beauty & Skin</button>
    <button mat-menu-item>Clothing</button>
    <button mat-menu-item>Glasses</button>
    <button mat-menu-item>Jewelary</button>
    <button mat-menu-item>Shoes</button>
  </mat-menu>
  <mat-menu #subMenu2="matMenu">
    <button mat-menu-item>Computer Accessories </button>
    <button mat-menu-item>Drones</button>
    <button mat-menu-item>Headphones</button>
    <button mat-menu-item>Laptops</button>
    <button mat-menu-item>Mobiles</button>
    <button mat-menu-item>Television</button>
  </mat-menu>
  <mat-menu #subMenu3="matMenu">
    <button mat-menu-item>Bedclothes </button>
    <button mat-menu-item>Furniture</button>
    <button mat-menu-item>Headphones</button>
    <button mat-menu-item>kitchen Accessories</button>
  </mat-menu>

  <div>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Search">
    </mat-form-field>
    <span class="material-icons"> search </span>


  </div>
  <div class="icons">
    <span routerLink="/login" class="material-icons">person_outline</span>
    <span class="material-icons">autorenew</span>
    <span class="material-icons">favorite_border</span>
    <span class="material-icons"> shopping_bag</span>
  </div>


  <!-- <link rel="shortcut icon" href="https://script.viserlab.com/visermart/assets/images/logoIcon/favicon.png" type="image/x-icon"> -->
</mat-toolbar>