<!-- Footer Section Starts Here -->
<footer class="bg-3">
    <div class="container">
        <div class="footer-bottom">
            <div class="footer-widget widget-about">
                <div class="logo">
                    <a href="https://script.viserlab.com/visermart">
                        <img class="w-100 h-auto"
                            src="https://script.viserlab.com/visermart/assets/images/logoIcon/logo_2.png" alt="logo">
                    </a>
                </div>
                <p>Visermart brings you tons of products in over 20+ different categories, including men's fashion,
                    women's fashion, baby fashion, and more.</p>

            </div>
            <div class="footer-widget widget-link">
                <h5 class="title cl-white">Pages</h5>
                <ul>
                    <li><a href="https://script.viserlab.com/visermart/36/returns-and-exchanges">Returns and
                            Exchanges</a></li>
                    <li><a href="https://script.viserlab.com/visermart/37/shipping-and-delivery">Shipping and
                            Delivery</a></li>
                    <li><a href="https://script.viserlab.com/visermart/38/terms-and-conditions">Terms and Conditions</a>
                    </li>
                    <li><a href="https://script.viserlab.com/visermart/39/privacy-and-policies">Privacy and Policies</a>
                    </li>
                </ul>
            </div>
            <div class="footer-widget widget-link">
                <h5 class="title cl-white">Useful link</h5>
                <ul>
                    <li><a href="https://script.viserlab.com/visermart/about">About Us</a></li>
                    <li><a href="https://script.viserlab.com/visermart/contact">Contact Us</a></li>
                    <li><a href="https://script.viserlab.com/visermart/faqs">FAQ</a></li>
                    <li><a href="https://script.viserlab.com/visermart/track_order">Track Your Order</a></li>
                </ul>
            </div>

            <div class="footer-widget widget-link widget-contact">
                <h5 class="title cl-white">Contact Us</h5>
                <ul>
                    <li>
                        <i class="las la-map-marker"></i>
                        Visermart, House 60, Road #5555
                    </li>
                    <li>
                        <a href="Tel:+ (001) 001 001"><i class="las la-phone"></i>+ (001) 001 001</a>
                    </li>
                    <li>
                        <a href="/cdn-cgi/l/email-protection#f286978186b2819b8697dc919d9f"><i
                                class="las la-envelope"></i><span class="__cf_email__"
                                data-cfemail="364253454276455f42531855595b">[email&#160;protected]</span></a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="footer-copyright">
            <div class="copyright-area d-flex flex-wrap align-items-center justify-content-between">
                <div class="left">
                    <p>Copyright © visermart 2021. All rights reserved.</p>
                </div>
                <ul class="social-icons">

                    <li>
                        <a href="https://www.linkedin.com/">
                            <i class="fab fa-linkedin-in"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com">
                            <i class="fab fa-instagram"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com">
                            <i class="fab fa-twitter"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/">
                            <i class="fab fa-facebook-f"></i> </a>
                    </li>
                </ul>
                <div class="right">
                    <img src="https://script.viserlab.com/visermart/assets/images/frontend/footer/5fe717202e4f91608980256.png"
                        alt="footer">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section Ends Here -->

<div class="modal fade" id="quickView">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="ajax-loader-wrapper d-flex align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>