
    <!-- <div class="container">
        <ul class="breadcrumb">

                <li><a href="/index">Home</a></li>

            <li>Sign In</li>
           
        </ul>
    </div>

        

<div class="account-section padding-bottom padding-top">
    <div class="contact-thumb d-none d-lg-block">
        <img src="assets/images/frontend/login_page/5fec5fd64ad681609326550.png" alt="login-bg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-header left-style">
                    <h3 class="title">Welcome Back</h3>
                    <p>Hello! Welcome back</p>
                </div>

                    <form method="POST" action="https://script.viserlab.com/visermart/login" class="contact-form mb-30-none">
                        <input type="hidden" name="_token" value="32Vk3NEfcsfeI9VQ7uOMXa7W99L6CPEy3nJ4P3M9">
                        <div class="contact-group">
                            <label for="username">Username</label>
                            <input id="username" type="text" name="username" placeholder="Enter Your Username" value="">
                        </div>

                        <div class="contact-group">
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password" placeholder="Enter Your Password" required autocomplete="current-password">
                        </div>


                        
                                                <div class="contact-group">
                            <label for="password">Captcha</label>
                            <input type="text" name="captcha" autocomplete="off" placeholder="Enter The Code Below">

                            <div class="d-flex mt-4 justify-content-end w-100">
                                <link href="https://fonts.googleapis.com/css?family=Henny+Penny&amp;display=swap" rel="stylesheet"><div class='register captcha'><span style="    float:left;     -webkit-transform: rotate(-2deg);">1</span><span style="    float:left;     -webkit-transform: rotate(43deg);">3</span><span style="    float:left;     -webkit-transform: rotate(-14deg);">8</span><span style="    float:left;     -webkit-transform: rotate(-3deg);">3</span><span style="    float:left;     -webkit-transform: rotate(-2deg);">3</span><span style="    float:left;     -webkit-transform: rotate(-48deg);">3</span></div><input type="hidden" name="captcha_secret" value="c19689b230f7e17c78f93480bae92d1323082971c744c56ee2e8a243098d44a1">                            </div>
                        </div>
                        
                        <div class="contact-group">
                            <button type="submit" id="recaptcha" class="custom-button m-0 ml-auto">Login</button>
                        </div>



                        <div class="contact-group">
                            <div class="w-100">
                                <div class="m--10 d-flex flex-wrap align-items-center justify-content-between">
                                                                        <span>Don't have an account? <a routerLink="/register">Create An Account</a></span>
                                                                                                            <span class="account-alt">
                                        <a href="password/reset.html">
                                            Forgot Password?
                                        </a>
                                    </span>
                                                                    </div>
                            </div>
                        </div>


                    </form>

            </div>
        </div>
    </div>
</div>
  -->




 





 <mat-toolbar class="M-tool"> 
    <mat-toolbar-row>
        <h2 style=" color: gray; padding-left: 43.5pc;">My Account</h2>
    </mat-toolbar-row>
</mat-toolbar>  




  <div fxFlexFill class="Main-div" fxLayoutAlign="center center">  
    <mat-card fxFlex=25 class="M-card">
        <mat-toolbar color="primary" style="padding-left: 8pc;"> User Login</mat-toolbar>
        <form (ngSubmit)="onlogin()" name="loginForm" [formGroup]="loginForm"
        fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
                 <mat-error *ngIf="loginForm.get('email').errors?.required" >
                    required email address
                 </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error *ngIf="loginForm.get('password').errors?.required" >
                    required password
                 </mat-error>
            </mat-form-field>
            
            <span  routerLink="/forgetpass" class="aLink">Forget Password?</span>
            <button mat-raised-button type="submit" class="mt-5" color="primary">Login</button>
        </form>
        <div style="padding-right: 20px;" fxLayoutAlign="end" fxFlexFill>
            <button routerLink="/register" type="button" mat-button style="color: white; background-color:blueviolet;">
                Sign-up
            </button>
        </div>
    </mat-card>
</div> 


 
 