<app-header></app-header>

<div class="row" style="margin-left: 30px; margin-top: 20px;">

 <div class="col-md-6">
 <form>
     <b><h6>Contact With Us</h6></b>
     <p>We appreciate feedback and interaction of any sort so please feel free to get in touch.</p>
     <mat-form-field style="width: 500px;">
     <label> Name </label>
	  <input type="text" class="form-control">
      <br><br>
      <label> Emil </label>
	  <input type="email" class="form-control">
      <br><br>
      <label> Subject </label>
	   <input type="subject" class="form-control"> 
       <br><br>
      <label> Message </label>
	  <textarea type="text"> </textarea>
      <br><br>
      <button class="btn btn-primary"> Send Message </button>
      </mat-form-field>
  </form>
</div>
 <div class="col-md-6">
    <img src="assets/contact/6016adfe7f1cb1612099070.png" height="600">
 </div>
</div> 
   
  <app-footer></app-footer> 
