 <mat-toolbar class="s-tool" style="padding-top: 50px; padding-bottom: 160px;"> 
  <div style="text-align: center;">
    <a routerLink='/index'>Home</a>
    <span> || </span>
    <span>Brand</span>
  </div>
  <mat-toolbar-row>
    <div class="container">
      <mat-grid-list cols="6" rowHeight="10pc" gutterSize="30px;" style="margin-top: 100px;padding-bottom: 0px;">
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
          <a routerLink="/"><img src="\assets\brands\60685229d848e1617449513.png"
              style="height: 150px; width: 150px; padding-bottom: 1pc;">
          </a>
        </mat-grid-tile>
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
          <a routerLink="/"><img src="\assets\brands\6068522f846281617449519.png"
              style="height: 150px; width: 150px; padding-bottom: 1pc;">
          </a>
        </mat-grid-tile>
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
          <a routerLink="/"><img src="\assets\brands\602cdc53954a51613552723.png"
              style="height: 150px; width: 150px; padding-bottom: 1pc;">
          </a>

        </mat-grid-tile>
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px; padding-bottom: 10px;">
          <a routerLink="/"><img src="\assets\brands\602a4186093681613382022.png"
              style="height: 150px; width: 150px; padding-bottom: 1pc;">
          </a>

        </mat-grid-tile>
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
          <a routerLink="/"><img src="\assets\brands\602a3d2d7fbb41613380909.png"
              style="height: 150px; width: 150px; padding-bottom: 1pc;">
          </a>
        </mat-grid-tile>
        
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
          <a routerLink="/"><img src="\assets\brands\60291c03410471613306883.png"
              style="height: 150px; width: 150px; padding-bottom: 1pc;">
          </a>

        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-toolbar-row>


  <mat-toolbar-row style="padding-top: 170px;">
    <div class="container">
      <mat-grid-list cols="6" rowHeight="10pc" gutterSize="30px;" style="margin-top: 100px;
            padding-bottom: 0px;">
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
          <a routerLink="/"><img src="\assets\brands\602919f85fcaa1613306360.png"
              style="height: 150px; width: 150px; padding-bottom: 1pc;">
          </a>
        </mat-grid-tile>
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
          <a routerLink="/"><img src="\assets\brands\6028ca2803f691613285928.jpg"
              style="height: 150px;; width: 150px;; padding-bottom: 1pc;">
          </a>
        </mat-grid-tile>
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
          <a routerLink="/"><img src="\assets\brands\60279f7cd5fd61613209468.jpg"
              style="height: 150px;; width: 150px; padding-bottom: 1pc;">
          </a>

        </mat-grid-tile>
        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px; padding-bottom: 10px;">
          <a routerLink="/"><img src="assets/images/brand/6024f8ff207671613035775.jpg"
              style="height: 150px; width: 150px; padding-bottom: 1pc;">
          </a>

        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-toolbar-row>







  <mat-toolbar-row style="padding-top: 300px; padding-left: 40%; ">

    <div class="button">
      <a routerLink="/brand"><button mat-button style="color: white; background-color: blue;">
          < </button></a> &nbsp;
      <a routerLink="/brand"><button mat-button style="color: white; background-color: blue;"> 1 </button></a> &nbsp;
      <a routerLink="/brand1"><button mat-button style="color: white; background-color: blue;"> 2 </button></a> &nbsp;
      <button mat-button style="color: white; background-color: blue;"> > </button>
    </div>

  </mat-toolbar-row>

</mat-toolbar>