<mat-toolbar class="Mtool">
    <mat-toolbar-row>
        <h2 style=" color: gray; padding-left: 45pc;">Forget Password</h2>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="Mtool" style="padding-top: 100px;">
    <mat-toolbar-row>

        <div style="background-color: white;">
            <h1 style="padding-left: 57pc; font-size: 30px; ">Don't Worry</h1>
            <a style="color: gray; size: 10px; padding-left: 48pc;">Submit the email to reset your password</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<mat-grid-list cols="2" rowHeight="30pc">
    <mat-grid-tile>
        <img style="width: 400px; height: 500px;" 
        src="\assets\forgetpass\5ff4c6a66059e1609877158.png" alt="register-bg">
    </mat-grid-tile>
    
 <div fxFlexFill class="Main" style="padding-top: 10px;">
    <mat-card fxFlex=30 class="Mcard" >
        <mat-toolbar style="background-color: rgb(108, 26, 185); color: white; padding-left: 10pc;">Send Email</mat-toolbar>
        <form (ngSubmit)="onsubmit()" name="submitForm" [formGroup]="submitForm"
           fxLayoutAlign="stretch" fxLayout="column" class="forget">
            <mat-form-field>
                
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="submitForm.get('email').errors?.required" >
                    required email address
                 </mat-error>

            </mat-form-field>
            
            <button mat-raised-button type="submit" class="mt-5" 
            style="background-color:rgb(108, 26, 185); color: white; margin-top: 10px;">SUBMIT</button>
        </form>
  </mat-card>

 </div>
</mat-grid-list> 