<!-- <mat-toolbar class="s-tool" style="padding-top: 50px; padding-bottom: 500px;"> 
    <div style="text-align: center; width: 100%;">
      <a routerLink='/index'>Home</a>
      <span> /product</span>
   </div>  -->

   <app-header></app-header>
   <mat-toolbar-row style="padding-top: 1000px; padding-bottom: 1000px;">
    <div style="width: 100%;">
      <div style="text-align: center; padding-top: 20px;">
        <a routerLink='/index'>Home</a>
        <span> /product</span>
      </div>
      <mat-grid-list cols="4" rowHeight="fit" gutterSize="20px" style="background-color: white; height: 1900px;">
      <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="2">
       <b><h1>Filter by Price</h1></b>
      
      </mat-grid-tile>
      <mat-grid-tile style="background-color: white; border: 1px solid gray;" colspan="3">
    
        <button mat-flat-button>15 Items Per Page<span
            class="material-icons">arrow_drop_down</span></button>
        
      </mat-grid-tile>
     
       <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
        3
      </mat-grid-tile>
      <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
        4
       </mat-grid-tile>
       <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
       5
       </mat-grid-tile>
       
       <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="10">
       
        <mat-checkbox>All Brands</mat-checkbox>
        <br>
        <mat-checkbox>Fimi</mat-checkbox>
       
       </mat-grid-tile> 

       <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
       7
      </mat-grid-tile> 

      <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
       8
      </mat-grid-tile> 

      <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
        9
       
    </mat-grid-tile> 

    <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
       10
    </mat-grid-tile> 

    <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
       11
    </mat-grid-tile> 

    <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
       12
    </mat-grid-tile> 

    <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="10">
       13
    </mat-grid-tile> 

    <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
        14
     </mat-grid-tile> 

     <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
        15
     </mat-grid-tile>
     
     <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
        16
     </mat-grid-tile> 

     <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
        17
     </mat-grid-tile> 

     <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
        18
     </mat-grid-tile> 

     <mat-grid-tile style="background-color: white; border: 1px solid gray;" rowspan="4">
        19
     </mat-grid-tile> 

     <mat-grid-tile style="background-color: white; border: 1px solid gray;" colspan="3">
        20
     </mat-grid-tile>

    </mat-grid-list>
 </div>
</mat-toolbar-row>

<app-footer></app-footer>