/* .summer{
    margin: 40px 0px 0px 0px;
    display: inline-block;
    max-width: 400px;
    height: 200px;
    margin: auto;
} */
/* .mat-card{
   
    display: inline-block; */
    
    /* background-image: url('/assets/summer/thumb_602a6a82776391613392514.jpg');
    background-size: cover; */
/* } */
/* .mat-card-avatar{
    background-color: aqua; */
    /* display: inline-block; */
    /* background-image: url('/assets/summer/thumb_602a6a82776391613392514.jpg');
    background-size: cover; */
/* } */
.content{
    padding: 20px;
}
.content > mat-card {
    width: 60px;
}


