
<div class="content" style="padding-left: 60px;">
    <b><h1>Summer 2021</h1></b>
    <div fxLayout=" row-wrap" fxLayoutGap="20px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title> </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="/assets/summer/thumb_602a6a82776391613392514.jpg">
                <mat-card-content>
                    <P>Slim Trapered Rip Jeans</P>
                </mat-card-content>
            
            </mat-card>
       </div> 

       <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
         <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>
             <img mat-card-image src="/assets/summer/thumb_60252fb1c5e8d1613049777.jpg">
            <mat-card-content>
                <P>Puma Pink Ladies Dresses</P>
            </mat-card-content>
        
          </mat-card>
      </div> 
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title> </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/summer/thumb_602a6a82776391613392514.jpg">
            <mat-card-content>
                <P>Slim Trapered Rip Jeans</P>
            </mat-card-content>
        
        </mat-card>
   </div> 

   <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
     <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title></mat-card-title>
        </mat-card-header>
         <img mat-card-image src="/assets/summer/thumb_60252fb1c5e8d1613049777.jpg">
        <mat-card-content>
            <P>Puma Pink Ladies Dresses</P>
        </mat-card-content>
    
      </mat-card>
  </div> 
   </div>
</div>   