<mat-toolbar-row style="padding-top: 28pc;">
  <div style="width: 25pc;">
    <mat-grid-list cols="5pc" rowHeight="50pc" style="background-color:white">
      <mat-grid-tile>
        <mat-list>
          <mat-list-item><a>
                  <span class="material-icons" style="color: blue;">
                      emoji_people
                  </span> Men's Fashion</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  self_improvement
              </span>Women's Fashion
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  cable
              </span>Electronics
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  home
              </span>Home Appliances
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  directions_car
              </span>Automobile & Motorcycle
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  sports_baseball
              </span>Sports & Outdoors
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  child_care
              </span>Baby's Fashion
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  toys
              </span>Kids & Toys
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  health_and_safety
              </span>Health & Beauty
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  spa
              </span>Skin & Hair Solution
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  redeem
              </span>Gift Items
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  masks
              </span>Covid-19 Protection
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  card_giftcard
              </span>Gift Corner
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  favorite_border
              </span>Weddings & Events
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <span class="material-icons" style="color: blue;">
                  wc
              </span>Novelty & Special Use
          </mat-list-item>
      </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <div style="width: 50pc;">
    <mat-grid-list rowHeight="50pc" cols="15pc">
      <ngb-carousel style="padding-right: 2.5pc; padding-top: 2pc;" >
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <a routerLink="/"><img src="\assets\slider\606ab6dbccedd1617606363.png" 
                style="height: 497.344px; width: 760px;"></a>
            </div>
            <div class="carousel-caption"></div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <a routerLink="/"><img src="\assets\slider\606ab7dc2b7681617606620.png" 
                  style="height: 497.344px; width: 760px;"></a>
            </div>
            <div class="carousel-caption"></div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <a routerLink="/"><img src="\assets\slider\606ab817d835b1617606679.png" 
                  style="height: 497.344px; width: 760px;"></a>
            </div>
            <div class="carousel-caption"></div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <a routerLink="/"><img src="\assets\slider\606ab765333751617606501.png" 
                  style="height: 497.344px; width: 760px;"></a>
            </div>
            <div class="carousel-caption"></div>
        </ng-template>
    </ngb-carousel>
    </mat-grid-list>
     <mat-toolbar class="s-tool">
      <mat-toolbar-row>
        <div class="container">
          <mat-grid-list cols="5" rowHeight="10pc" gutterSize="10px;" style="margin-top: 2pc;
                padding-bottom: 35pc; ;">
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
              <a routerLink="/"><img src="assets\images\category\cloth.jpg"
                  style="height: 90px; width: 100px; padding-bottom: 1pc;">
              </a>
                          </mat-grid-tile>
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
              <a routerLink="/"><img src="assets\images\category\shoe.jpg"
                  style="height: 90px; width: 100px; padding-bottom: 1pc;">
              </a>
                          </mat-grid-tile>
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
              <a routerLink="/"><img src="assets\images\category\glasses.jpg"
                  style="height: 90px; width: 100px; padding-bottom: 1pc;">
              </a>
             
            </mat-grid-tile>
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px; padding-bottom: 10px;">
              <a routerLink="/"><img src="assets\images\category\clothing.jpg"
                  style="height: 90px; width: 100px; padding-bottom: 1pc;">
              </a>
              
            </mat-grid-tile>
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
              <a routerLink="/"><img src="assets\images\category\glasses1.jpg"
                  style="height: 90px; width: 100px; padding-bottom: 1pc;">
              </a>
             
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-toolbar-row>
    </mat-toolbar> 
  </div>





  <div style="width: 25pc; padding-bottom: 37px;">
    <mat-grid-list cols="10pc" rowHeight="8.27pc" style="background-color:white">
      <mat-grid-tile>


        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="/assets/images/product/thumb_60252fb1c5e8d1613049777.jpg" alt="Photo of products">
              </div>
              <div style="padding-left: 30px; padding-top: 15px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Puma <br>Pink Ladies Dresses</button> <br>
                  <button mat-button color="accent">$ 22.65 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_60252f739e5cd1613049715.jpg">
              </div>
              <div style="padding-left: 25px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Puma and Ladies Dresses</button> <br>
                  <button mat-button color="accent">$ 35.00 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_602b890e609081613465870.jpg"
                  alt="Photo of products">
              </div>
              <div style="padding-left: 25px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Man White Sneaker</button> <br>
                  <button mat-button color="accent">$ 20.00 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_6006b785c77081611052933.jpg"
                  alt="Photo of products">
              </div>
              <div style="padding-left: 20px; padding-top: 15px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Baby Fashion sweatheart<br> monster</button> <br>
                  <button mat-button color="accent">$ 18.00 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>



      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_6006a17e4fc301611047294.jpg"
                  alt="Photo of products">
              </div>
              <div style="padding-left: 20px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Tomford Glass</button> <br>
                  <button mat-button color="accent">$ 15.00</button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>


      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_602a6a82776391613392514.jpg"
                  alt="Photo of products">
              </div>
              <div style="padding-left: 15px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Slim Trapered Rip Jeans</button> <br>
                  <button mat-button color="accent">$ 15.00 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
 </div>
</mat-toolbar-row>



<!--  <mat-grid-tile> 
          <div style="width: 24pc;">         
            <mat-card class="example-card">
              <mat-toolbar-row>
              <div>          
              <img mat-card-image  style="height:100px; width:120px ;"
              src="https://script.viserlab.com/visermart/assets/images/product/thumb_60252f739e5cd1613049715.jpg" alt="Photo of a Shiba Inu">
              </div>           
             <div style="padding-left: 15px;">
              <mat-card-actions>
                <button mat-button color="accent">Puma and Ladies Dresses</button> <br>
                <button mat-button color="primary">$ 22.65 </button>
              </mat-card-actions>
              </div>
              </mat-toolbar-row>
            </mat-card> 
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          
          <div style="width: 24pc;">         
            <mat-card class="example-card">
              <mat-toolbar-row>
              <div>          
              <img mat-card-image  style="height:100px; width:120px ;"
              src="https://script.viserlab.com/visermart/assets/images/product/thumb_602b890e609081613465870.jpg" alt="Photo of a Shiba Inu">
              </div>           
             <div style="padding-left: 15px;">
              <mat-card-actions>
                <button mat-button color="accent">Puma and Ladies Dresses</button> <br>
                <button mat-button color="primary">$ 22.65 </button>
              </mat-card-actions>
              </div>
              </mat-toolbar-row>
            </mat-card> 
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          
          <div style="width: 24pc;">         
            <mat-card class="example-card">
              <mat-toolbar-row>
              <div>          
              <img mat-card-image  style="height:100px; width:120px ;"
              src="https://script.viserlab.com/visermart/assets/images/product/thumb_6006b785c77081611052933.jpg" alt="Photo of a Shiba Inu">
              </div>           
             <div style="padding-left: 15px;">
              <mat-card-actions>
                <button mat-button color="accent">Puma and Ladies Dresses</button> <br>
                <button mat-button color="primary">$ 22.65 </button>
              </mat-card-actions>
              </div>
              </mat-toolbar-row>
            </mat-card> 
          </div>
        </mat-grid-tile>
  
        <mat-grid-tile>  
          <div style="width: 24pc;">         
            <mat-card class="example-card">
              <mat-toolbar-row>
              <div>          
              <img mat-card-image  style="height:100px; width:120px ;"
              src="https://script.viserlab.com/visermart/assets/images/product/thumb_6006a17e4fc301611047294.jpg" alt="Photo of a Shiba Inu">
              </div>           
             <div style="padding-left: 15px;">
              <mat-card-actions>
                <button mat-button ><b style="color: black;">Puma Pink Ladies Dresses</b></button> <br>
                <button mat-button color="primary">$ 22.65 </button>
              </mat-card-actions>
              </div>
              </mat-toolbar-row>
            </mat-card> 
          </div>
        </mat-grid-tile>
  
        <div style="width: 24pc;">         
          <mat-card class="example-card">
            <mat-toolbar-row>
            <div>          
            <img mat-card-image  style="height:100px; width:120px ;"
            src="https://script.viserlab.com/visermart/assets/images/product/thumb_602a6a82776391613392514.jpg" alt="Photo of a Shiba Inu">
            </div>           
           <div style="padding-left: 15px;">
            <mat-card-actions>
              <button mat-button color="accent">Puma and Ladies Dresses</button> <br>
              <button mat-button color="primary">$ 22.65 </button>
            </mat-card-actions>
            </div>
            </mat-toolbar-row>
          </mat-card> 
        </div>
      </mat-grid-tile>
      </div> -->