<mat-grid-list cols="3" rowHeight="3:2" gutterSize="15px" style="margin:10px 50px 10px 50px;">
  <mat-grid-tile>
      <img src="assets/sale/60179844d99fd1612159044.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="assets/sale/5fe09ad2820e11608555218.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="assets/sale/6017984eb0b2d1612159054.jpg">
  </mat-grid-tile>
  
</mat-grid-list>

