<app-header></app-header>
<app-slider></app-slider>

<!-- <div style="padding-bottom: 20px;"></div> -->
<app-images></app-images>
<div style="height: 20pc;"></div>
<app-summer21></app-summer21>

<app-sale></app-sale>
<app-fetureprd></app-fetureprd>
<div style="padding-bottom: 30px;"></div>
<app-wen-women></app-wen-women>
<div style="padding-bottom: 30px;"></div>
<app-topseling></app-topseling>
<div style="padding-bottom: 30px;"></div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>


