<div class="content" style="padding-bottom:30px; padding-left: 30px;">
   <div style="padding-bottom: 20px; padding-left: 30px;">
   <button mat-button style="color: white; background-color: red;"> wen's Fashion</button>
   <button mat-button style="color: black; background-color: rgb(182, 178, 178);"> women's Fashion</button>
   </div> 
    <div fxLayout=" row-wrap" fxLayoutGap="20px grid" style="padding-right:30px; padding-left: 30px;">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
                <!-- <mat-card-header>
                    <mat-card-title> </mat-card-title>
                </mat-card-header> -->
                <img mat-card-image src="/assets/fetureprd/thumb_602774dd1bfd51613198557.jpg">
                <mat-card-content>
                    <a> Regulator Automatic Blue Slate </a>
                    </mat-card-content>       
                <mat-card-actions>
                    
                    
                    <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                    <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                    <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                    <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                    <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                    <button mat-button color="accent" align="end">$ 499.00</button>
                   
                </mat-card-actions>
            
            </mat-card>
       </div> 

       <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
         <mat-card class="mat-elevation-z4">
              <!-- <mat-card-header>
                <mat-card-title></mat-card-title>
              </mat-card-header> -->
             <img mat-card-image src="/assets/fetureprd/thumb_6028c8f461fea1613285620.jpg">
              <mat-card-content>
                <!-- <a>Tomford Sunglass</a><br> -->
                <a> Tomford Sunglass </a>
              </mat-card-content>
              <mat-card-actions>
                <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
                <button mat-button color="accent" align="end">$ 120.00</button>
              </mat-card-actions>
        
          </mat-card>
      </div> 
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
             <!-- <mat-card-header>
                <mat-card-title> </mat-card-title>
             </mat-card-header> -->
             <img mat-card-image src="/assets/summer/602b8876e37301613465718.jpg">
             <mat-card-content>
                
                <a>Man White Sneakers</a>
             </mat-card-content>
              <mat-card-actions>
                <span class="material-icons" style="color: rgb(252, 184, 82);">grade</span>
                <span class="material-icons" style="color: rgb(252, 184, 82);">grade</span>   
                <span class="material-icons" style="color: rgb(252, 184, 82);">grade</span>  
                <span class="material-icons" style="color: rgb(252, 184, 82);">grade</span>
                <span class="material-icons" style="color: rgb(252, 184, 82);">grade</span>  
                <button mat-button color="accent" align="end">$ 15.00</button>
              </mat-card-actions>
             </mat-card>
     </div> 

     <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
       <mat-card class="mat-elevation-z4">
         <!-- <mat-card-header>
            <mat-card-title></mat-card-title>
         </mat-card-header> -->
          <img mat-card-image src="/assets/summer/thumb_602a6a82776391613392514.jpg">
          <mat-card-content>
            <a>Slim Trapered Rip Jeans</a>
            </mat-card-content>
            <mat-card-actions>
            <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
            <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
            <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
            <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
            <span class="material-icons" style="color: rgb(252, 184, 82);">star_border</span>
            <button mat-button color="accent" align="end">$ 20.00</button>
           </mat-card-actions>
    
       </mat-card>
     </div> 
   </div>
</div>   


