<!-- <mat-toolbar> -->

<mat-toolbar-row style="padding-top: 800px; padding-bottom: 100px; padding-left: 30%">
  <div style="width: 100%;">

    <mat-grid-list cols="4" rowHeight="7:7" gutterSize="20px" style="background-color:white; padding-right: 100px ;">
    <mat-grid-tile style="background-color: cadetblue;" colspan="1">
    <div>
      
     <img src="\assets\banner\6017999ef01d91612159390.png">
    </div>
     
    </mat-grid-tile>
    <mat-grid-tile style="background-color: coral;" rowspan="2" rowHeight="1:1">
      <img src="\assets\banner\60095e3e0159b1611226686.png">
      
    </mat-grid-tile>
   
     <mat-grid-tile style="background-color: white;" colspan="1">
      <img src="\assets\banner\60095788b8b441611224968.png" style="padding-top: 0px;">
    </mat-grid-tile>
    <mat-grid-tile style="background-color: white;" rowspan="2">
      
     </mat-grid-tile>
     <mat-grid-tile style="background-color: crimson;" rowspan="2">
      <img src="\assets\banner\6009576455fd61611224932.png" style="padding-top: 0px;">
     </mat-grid-tile>
     <mat-grid-tile style="background-color: crimson;" rowspan="2">
      <img src="\assets\banner\600957c8b93281611225032.png" style="padding-top: 0px;">
     </mat-grid-tile>
     <mat-grid-tile style="background-color: crimson;" colspan="1">
      <img src="\assets\banner\60095e9ab30a81611226778.png" style="padding-top: 0px;">
     </mat-grid-tile>
   </mat-grid-list>
  </div>
</mat-toolbar-row>
