

 <mat-toolbar class="M-tool">
        <mat-toolbar-row>
            <h2 style=" color: gray; padding-left: 45pc;">Sign up</h2>
        </mat-toolbar-row>
 </mat-toolbar>
    
<mat-toolbar class="M-tool">
        <mat-toolbar-row>
    
            <div style="background-color: white;">
                <h1 style="padding-left: 60pc; font-size: 30px; ">Welcome</h1>
                <a style="color: gray; size: 10px; padding-left: 57pc;">Welcome to Visermart</a>
            </div>
        </mat-toolbar-row>
</mat-toolbar>
    
    
    <mat-grid-list cols="2" rowHeight="56pc">
        <mat-grid-tile>
            <img style="width: 700px; height: 900px;"
            src="https://script.viserlab.com/visermart/assets/images/frontend/register_page/5fec6155771601609326933.png" alt="register-bg">
        </mat-grid-tile>
        
       
     <div fxFlexFill class="Main-div">
        <mat-card fxFlex=30 class="M-card" >
            <mat-toolbar style="background-color: rgb(108, 26, 185); color: white; padding-left: 10pc;">Create Account</mat-toolbar>
            <form (ngSubmit)="onsignup()" name="registerForm" [formGroup]="registerForm"
            fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="firstName" type="text" required>
                    <mat-error *ngIf="registerForm.get('firstName').errors?.required" >
                       First name is required 
                     </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="lasttName" required>
                    <mat-error *ngIf="registerForm.get('firstName').errors?.required" >
                        Last name is required
                     </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Mobile" formControlName="mobile" required>
                    <mat-error *ngIf="registerForm.get('firstName').errors?.required" >
                        Mobile number is required
                     </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="email" placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="registerForm.get('firstName').errors?.required" >
                        email is required
                     </mat-error>
                
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error *ngIf="registerForm.get('firstName').errors?.required" >
                        Password is required
                     </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="conformpass" required>
                    <mat-error *ngIf="registerForm.get('firstName').errors?.required" >
                        Conform Password
                     </mat-error>
        
                </mat-form-field>
                
                <button mat-raised-button type="submit" class="mt-5" 
                style="background-color: rgb(108, 26, 185);; color: white; margin-top: 10px;">Signup</button>
            </form>
           <div style="margin-left: 12pc; font-size: 16px;margin-top: 25px;">Already have an Account?
                <a  routerLink="/login" style="text-decoration:none;font-size: 16px;color: tomato;">
                    Login </a>
        
            </div>  
      </mat-card>
     </div>
    </mat-grid-list>