 .login-form {
   margin-top: 15px;
  }
        
  .M-card{
    margin-left: 50pc;
    margin-top: 5pc;
   }
        
   .L-div{
    /* padding-left: 100px; */
     color: white;
     cursor: pointer;
     padding: 4px 0px 4px 90px;
 }
 
 .A-img{
 height: 45.525px; 
 width: 180px;
 padding-left: 100px;
 }     
         
 .K-div{  
  padding-left: 800px;
}

.M-tool{
  background-color: white;
  font-family: monospace,sans-serif;
  font-weight: 500;
  cursor: pointer;
  height: 90px;
   width: 1540.2px;
padding: 16px 0px 16px 0px;
}       
         
          .img{
             height: 25px;
             width: 25px;
            padding: 0px 0px 60px 300px;
          }
         
          .A-select{
              font-size: 16px;
          }
        
        
          .Q-div{
             padding-top: 20px;
             padding-right: 10pc;
          }
          
          div.A-img{
             height: 0px;
             width: 0px;
          }
         
          
         
         
          .B-tool{
              height: 92px;
              width: 1540.2px;
          }
         
          .example-form {
             min-width: 150px;
             max-width: 500px;
             width: 80%;
             padding-left: 15px;
           }
          
          
         
         .text-capitalize{
                 /* Font & Text */
                 font-family: Monda, sans-serif;
                 font-size: 16px;
                 font-style: normal;
                 font-variant: normal;
                 font-weight: 400;
                 letter-spacing: normal;
                 line-height: 28px;
                 text-decoration: none solid rgb(255, 255, 255);
                 text-align: right;
                 text-indent: 0px;
                 text-transform: capitalize;
                 vertical-align: baseline;
                 white-space: normal;
                 word-spacing: 0px;
         
                 
                 
                 /* Color & Background */
                 background-attachment: scroll;
                 background-color: rgba(0, 0, 0, 0);
                 background-image: none;
                 background-position: 0% 0%;
                 background-repeat: repeat;
                 color: rgb(255, 255, 255);
             
                 /* Box */
                 height: 28px;
                 width: 66.025px;
                 border: 0px none rgb(255, 255, 255);
                 border-top: 0px none rgb(255, 255, 255);
                 border-right: 0px none rgb(255, 255, 255);
                 border-bottom: 0px none rgb(255, 255, 255);
                 border-left: 0px none rgb(255, 255, 255);
                 margin: 0px 5px 0px 0px;
                 padding: 0px 0px 0px 10px;
                 
                 max-height: none;
                 min-height: auto;
                 max-width: none;
                 min-width: auto;
             
                 /* Positioning */
                 position: static;
                 top: auto;
                 bottom: auto;
                 right: auto;
                 left: auto;
                 float: none;
                 display: block;
                 clear: none;
                 z-index: auto;
             
                 /* List */
                 list-style-image: none;
                 list-style-type: disc;
                 list-style-position: outside;
             
                 /* Table */
                 border-collapse: separate;
                 border-spacing: 0px 0px;
                 caption-side: top;
                 empty-cells: show;
                 table-layout: auto;
             
                 /* Miscellaneous */
                 overflow: visible;
                 cursor: pointer;
                 visibility: visible;
             
                 /* Effects */
                 transform: none;
                 transition: all 0s ease 0s;
                 outline-offset: 0px;
                 box-sizing: border-box;
                 resize: none;
                 text-shadow: none;
                 text-overflow: clip;
                 word-wrap: normal;
                 box-shadow: none;
                 border-top-left-radius: 0px;
                 border-top-right-radius: 0px;
                 border-bottom-left-radius: 0px;
                 border-bottom-right-radius: 0px;
             }
         
             
             .material-icons{
                 width: 60px;
                 cursor: pointer;
             }
         
             .A-text{
             padding: 70px 0px 0px 100px;
             
             }
          
             .F-text{
                 width: 580px;
             }
         
            .example-container {
                 width: 500px;
                 height: 600px;
                 border: 0px;
                 padding-left: 100px;
               }  
               
               .example-sidenav-content {
                 display: flex;  
                 height: 200px;
                 padding-left: 0px;
                 align-items: center;
                 justify-content: center;
             
         
               }
               
               /* .example-sidenav {
                 padding-top: 5px;
                 width: 20pc;
                 background-color: blueviolet;
               }
          */
             .M-trow{
                 padding-top: 537.6px;
             }
             
             /* .example-form {
              min-width: 150px;
              max-width: 500px;   
              width: 100%; 
            } 
             */
            /* .example-full-width {
              width: 100%;
              padding-top: 20px;
              padding-left: 35pc;
            } */
        
            mat-grid-tile {
              background: white;
            }